@model Aula8.Models.Relatorio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Relatorio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeDoRelatorio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeDoRelatorio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataDoRelatorio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDoRelatorio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescrisaoDoRelatorio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescrisaoDoRelatorio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
